[submodule "production/modules/roles"]
	path = production/modules/roles
	url = git@github.com:attachmentgenie/attachmentgenie-roles.git
[submodule "production/modules/profiles"]
	path = production/modules/profiles
	url = git@github.com:attachmentgenie/attachmentgenie-profiles.git
[submodule "production/modules/stdlib"]
	path = production/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "production/modules/firewall"]
	path = production/modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "production/modules/aptly"]
	path = production/modules/aptly
	url = https://github.com/gds-operations/puppet-aptly.git
[submodule "production/modules/apt"]
	path = production/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "production/modules/nginx"]
	path = production/modules/nginx
	url = https://github.com/voxpupuli/puppet-nginx.git
[submodule "production/modules/concat"]
	path = production/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "production/modules/nexus"]
	path = production/modules/nexus
	url = https://github.com/hubspotdevops/puppet-nexus.git
[submodule "production/modules/wget"]
	path = production/modules/wget
	url = https://github.com/voxpupuli/puppet-wget.git
[submodule "production/modules/java"]
	path = production/modules/java
	url = https://github.com/puppetlabs/puppetlabs-java.git
